<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="flex align-items-center">
        <!-- SIDEBAR -->
        <div class="sidenav flex align-items-center">
            <div>
                <img src="LibertadLogo.png" alt="logo ito">
            </div>
    
            <div class="menu">
                <ul>
                    <li>Home</li>
                    <li>Home</li>
                    <li>Home</li>
                </ul>
            </div>

            <!-- OVERRIDE ALIGN ITEMS: CENTER TO ALIGN-SELF: FLEX END -->
            <div class="userGuest align-self-flex-end">
                <img src="avatar" alt="avatar">
                <small>User or guest</small>
            </div>
        </div>

        <!-- MAIN CONTENT -->
        <div class="content">
            <div class="container-fluid">
                content here
            </div>
        </div>
        
    </div>
</body>
</html>