
/* BACKGROUND COLORS */
.bg-blk{ background-color: #333232;}
.bg-red{ background-color: #c81010;}
.bg-yellow{ background-color: #fec25c;}

/* TEXT COLORS*/
.text-black{ color: #333232;}
.text-red{ color: #c81010;}
.text-yellow{ color: #fdbb48;}

/* FONT FAMILIES */
.bebasNeue { font-family: Bebas Neue;}
.montserrat { font-family: 'Montserrat', sans-serif;}

/* FONT SIZE*/
.fs-4em{ 
    font-size: 4em;
    line-height: 60px;
}
.fs-1em{ font-size: 1em;}
.fs-1p5em{ font-size: 1.5em;}

.btn-yellow{ background-color: #fec25c; }
.btn-yellow:hover{ background-color: #e7b152; }

.section{
    position: relative;
    top: 50px;
    height: 600px;
}

#intro-text > h1{
    font-size: 10em;
    line-height: 150px;
    margin-bottom: 0;
}

#intro-text > h3{
    font-size: 2.5em;
}

#express-section{
    height: auto;
}

#last-section{
    height: auto;
}

.avatar{
    width: 175px;
    position: relative;
    z-index: 10;
    top: 75px;
}
.date{
    display: block;
    text-align: center !important;
}

.center-btn{
    align-self: center;
}

.footer-content{
    background-color: #333232;
}

#footer-text > h1 {
    font-size: 8em;
    line-height: 100px;
    margin-bottom: 0;
}

#footer-text > h3{
    font-size: 2.5em;
}

@media(min-width: 992px) and (max-width: 1020px){
    #intro-text > h1{
        font-size: 8em;
        line-height: 100px;
        margin-bottom: 0;
    }

    #intro-text > h3{
        font-size: 2em;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    #intro-text > h1{
        font-size: 8em;
        line-height: 100px;
        margin-bottom: 0;
    }

    #intro-text > h3{
        font-size: 2em;
    }

}

@media(min-width: 576px) and (max-width:767px){
    
    #intro-text > h1{
        font-size: 8em;
        line-height: 100px;
        margin-bottom: 0;
    }

}

@media(min-width: 992px){
    .fc{
        flex-direction: row;
    }
}

@media(max-width: 991px){
    .fc{
        flex-direction: column;
    }
}

@media(max-width:575px){
    #intro-text > h1{
        font-size: 6em;
        line-height: 100px;
        margin-bottom: 0;
    }

    #intro-text > h3{
        font-size: 5vw;
    }

    #footer-text > h1 {
        font-size: 8em;
        line-height: 100px;
        margin-bottom: 0;
    }
    
    #footer-text > h3{
        font-size: 2.5em;
    }

    
}
@media(max-width: 425px){
    .fs-4em{
        font-size: 3.5em;
    }

    #footer-text > h1 {
        font-size: 6em;
        line-height: 100px;
        margin-bottom: 0;
    }
    
    #footer-text > h3{
        font-size: 2em;
    }
}



