
/* BACKGROUND COLORS */
.bg-blk{ background-color: #333232;}
.bg-red{ background-color: #c81010;}
.bg-yellow{ background-color: #fec25c;}

/* TEXT COLORS*/
.text-black{ color: #333232;}
.text-red{ color: #c81010;}
.text-yellow{ color: #fdbb48;}

/* FONT FAMILIES */
.bebasNeue { font-family: Bebas Neue;}
.montserrat { font-family: 'Montserrat', sans-serif;}

/* FONT SIZE*/
.fs-4em{ 
    font-size: 4em;
    line-height: 60px;
}
.fs-1em{ font-size: 1em;}
.fs-1p5em{ font-size: 1.5em;}

.btn-yellow{ background-color: #fec25c; }
.btn-yellow:hover{ background-color: #e7b152; }

.section{
    position: relative;
    top: 50px;
    height: 600px;
}
/* #intro-section{
    position: relative;
    top: 50px;
    height: 600px;
}

#express-section{
    position: relative;
} */

#intro-text > h1{
    font-size: 10em;
    line-height: 150px;
    margin-bottom: 0;
}

#intro-text > h3{
    font-size: 2.5em;
}

